* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

/*CONTAINER VUE.JS*/
#root {
    display: flex;
}


/*CONTAINER LEFT:*/

/*Container my user*/

.container-left {
    width: 30%;
    height: 100vh;
}

.container-right {
    width: 70%;
    height: 100vh;
    background-color: grey;
}

.container-myuser {
    width: 100%;
    height: 60px;
    background-color: rgba(234,234,234,255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-img-name {
    display: flex;
    width: 110px;
    justify-content: space-around;
    align-items: center;
}

.my-user-icons {
    width: 90px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
}

img {
    width: 50px;
    border-radius: 50%;
}

.fa-solid {
    color: rgba(177,177,177,255);
    font-size: 20px;
    cursor: pointer;
}


/*Container notifications*/

.container-notifications {
    background-color: rgba(142,218,252,255);
    height: 70px;
    display: flex;
    align-items: center;
}

.container-bell {
    padding: 12px;
    background-color: white;
    border-radius: 50%;
    margin-left: 20px;
}

.fa-bell-slash {
    color: rgba(142,218,252,255);
}

.active-notific {
    color: grey;
    text-decoration: underline;
    cursor: pointer;
    font-size: 13px;
    margin-top: 7px;
}

.setting-notific {
    margin-left: 10px;
}


/*Container search*/

.container-search {
    height: 45px;
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-btn-input {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-search-chat {
    border: none;
    padding: 7px 12px;
    background-color: white;
    border-right: 1px solid rgb(240, 239, 239);
    cursor: pointer;
}

.input-search-chat {
    width: 400px;
    border: none;
    padding: 9px 12px;
}


/*Container all chat*/





























/*CONTAINER RIGHT:*/