* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
}

.green-stripe {
    width: 100%;
    height: 120px;
    background-color: rgba(0,150,136,255);
    position: relative;
}

main {
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(234,234,234,255);
}

/*CONTAINER VUE.JS*/
#root {
    display: flex;
    width: 1200px;
    height: 680px;
    position: absolute;
    top: 30px;
}


/*CONTAINER LEFT:*/

/*Container my user*/

.container-left {
    width: 30%;
    height: 100%;
}

.container-myuser {
    width: 100%;
    height: 60px;
    background-color: rgba(234,234,234,255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 2px solid rgb(184, 184, 184);
}

.my-img-name {
    display: flex;
    width: 110px;
    justify-content: space-around;
    align-items: center;
}

.my-user-icons {
    width: 90px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
}

.my-avatar {
    width: 50px;
    border-radius: 50%;
}

.fa-solid {
    color: rgba(177,177,177,255);
    font-size: 20px;
    cursor: pointer;
}


/*Container notifications*/

.container-notifications {
    background-color: rgba(142,218,252,255);
    height: 70px;
    display: flex;
    align-items: center;
}

.container-bell {
    padding: 12px;
    background-color: white;
    border-radius: 50%;
    margin-left: 20px;
}

.fa-bell-slash {
    color: rgba(142,218,252,255);
}

.active-notific {
    color: grey;
    text-decoration: underline;
    cursor: pointer;
    font-size: 13px;
    margin-top: 7px;
}

.setting-notific {
    margin-left: 10px;
}


/*Container search*/

.container-search {
    height: 45px;
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-btn-input {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-search-chat {
    border: none;
    padding: 7px 12px;
    background-color: white;
    border-right: 1px solid rgb(240, 239, 239);
    cursor: pointer;
}

.input-search-chat {
    width: 300px;
    border: none;
    padding: 9px 12px;
}

::placeholder {
    color: rgb(153, 153, 153);
    font-size: 13px;
}


/*Container all chat*/

.container-all-chat {
    height: calc(100% - 70px - 60px - 45px);
    overflow-y: scroll;
}
.container-single-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 40px 20px;
    border-top: 1px solid rgb(241, 239, 239);
    cursor: pointer;
    background-color: white;
}

.container-single-chat:hover {
    background-color: rgb(235, 235, 235);
}

.chat-img-name {
    display: flex;
}

.last-msg-send {
    color: rgb(180, 180, 180);
    font-size: 11px;
    margin-top: 5px;
}

.clock-msg-sent {
    color: rgb(180, 180, 180);
    font-size: 11px;
}

.chat-avatar {
    width: 60px;
    border-radius: 50%;
}

.name-message {
    margin-left: 15px;
}


/*CONTAINER RIGHT:*/

/*Top current chat*/

.container-right {
    width: 70%;
    height: 100%;
}

.current-chat {
    height: 60px;
    background-color: rgba(234,234,234,255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.current-chat-left {
    display: flex;
    align-items: center;
}

.user-current-chat {
    margin: auto 15px;
}

.avatar-current-chat {
    width: 50px;
    border-radius: 50%;
}

.last-access {
    color: rgb(155, 155, 155);
    font-size: 12px;
    margin-top: 3px;
}

.current-chat-icons {
    margin-right: 15px;
}

.current-chat-icons i {
    margin-right: 15px;
}


/*Central current chat*/

.message-field {
    height: calc(100% - 60px - 60px);
    background-image: url(../img/mine.jpg);
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}

                /*messaggistica*/
.messages {
    min-width: 200px;
    max-width: 300px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    overflow-wrap: break-word;
}

.green {
    background-color: rgb(178, 245, 158);
}

.white {
    background-color: white;
}

.right-column {
    align-self: flex-end;
    padding-right: 40px;
    background-color: green;
}

.left-column {
    align-self: flex-start;
    margin-left: 40px;
    background-color: white;
}

.date-time {
    position: absolute;
    bottom: 0;
    right: 3px;
    color: rgb(161, 161, 161);
    font-size: 10px;
}


/*Bottom current chat*/

.send-new-msg {
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(234,234,234,255);
}

.input-write-msg {
    width: 600px;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
}

.send-new-msg i {
    color: grey;
}



